<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>StudentManagementDOB</display-name>
	<welcome-file-list>
		<welcome-file>student.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>AddServlet</servlet-name>
		<servlet-class>com.controller.AddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddServlet</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>com.controller.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>com.controller.UpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateServlet</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetByIdServlet</servlet-name>
		<servlet-class>com.controller.GetByIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetByIdServlet</servlet-name>
		<url-pattern>/getbyid</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ReadServlet</servlet-name>
		<servlet-class>com.controller.ReadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReadServlet</servlet-name>
		<url-pattern>/read</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SortByNameServlet</servlet-name>
		<servlet-class>com.controller.SortByNameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SortByNameServlet</servlet-name>
		<url-pattern>/sortbyname</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>SortByIdServlet</servlet-name>
		<servlet-class>com.controller.SortByIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SortByIdServlet</servlet-name>
		<url-pattern>/sortbyid</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>SortByMarksServlet</servlet-name>
		<servlet-class>com.controller.SortByMarksServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SortByMarksServlet</servlet-name>
		<url-pattern>/sortbymarks</url-pattern>
	</servlet-mapping>
</web-app>